/*reset*/
*{
	margin: 0;
	padding: 0;	
 }

/*LOGO - ajustando o logo*/
.logo{
	font-size: 200px;
}

/*Adiciona media queries para centralizar a "coluna do logo" em telas menores que 768px*/
@media screen and (max-width: 768px){
	.col-sm-4{
	text-align: center;
	margin: 25px;
	}
}

/*JUMBOTRON*/
.jumbotron{
	background-color: #006400;
	color: #ffffff;
	padding: 100px 25px;
}

/*COR DE FUNDO NOSSOS VALORES*/
.bg-gray{
	background-color: #f6f6f6;
}

/*ADICIONA UMA COR VERDE A TODOS OS ICONES E CONFIGURA O FONT-SIZE*/
.logo-small{
	color: #006400;
	font-size: 50px;
}

.logo{
	color: #006400;
	font-size: 200px;
}


/*CONTAINER SESSÃO DE SERVIÇOS*/
.container-fluid{
	padding: 60px 50px;
}

/*ESTILIZANDO AS THUMBNAILS*/
.thumbnail{
	padding: 0 0 15px 0;
	border: none;
	border-radius: 0;
}

.thumbnail img{
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
}
